In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
db="postgres:Alevaporo58@localhost:5432/project_2"
engine=create_engine(f'postgresql://{db}')

In [3]:
conn=engine.connect()

In [38]:
stats_2011=pd.read_sql('select * from year_2011',conn)
stats_2012=pd.read_sql('select * from year_2012',conn)
stats_2013=pd.read_sql('select * from year_2013',conn)
stats_2014=pd.read_sql('select * from year_2014',conn)
stats_2015=pd.read_sql('select * from year_2015',conn)
stats_2016=pd.read_sql('select * from year_2016',conn)
stats_2017=pd.read_sql('select * from year_2017',conn)

In [39]:
def add_population(table):
    table=pd.read_sql(f'select * from {table}',conn)
    return(table)

In [40]:
population_2011=add_population('year_2011')
population_2012=add_population('year_2012')
population_2013=add_population('year_2013')
population_2014=add_population('year_2014')
population_2015=add_population('year_2015')
population_2016=add_population('year_2016')
population_2017=add_population('year_2017')

In [41]:
def final_pop(table):
    table=table["Population"]
    table=table.drop(table.index[[8,51]])
    table=table.reset_index(drop=True)
    table=pd.DataFrame(table)
    return(table)

In [42]:
pop_2011=final_pop(population_2011)
pop_2012=final_pop(population_2012)
pop_2013=final_pop(population_2013)
pop_2014=final_pop(population_2014)
pop_2015=final_pop(population_2015)
pop_2016=final_pop(population_2016)
pop_2017=final_pop(population_2017)

In [67]:
pop_2011

    Population
0      4747424
1       700703
2      6337373
3      2895928
4     36969200
5      4966061
6      3558172
7       890856
8     18688787
9      9600612
10     1346554
11     1549987
12    12790182
13     6454254
14     3032266
15     2830985
16     4316040
17     4484596
18     1328543
19     5736545
20     6512227
21     9920621
22     5278190
23     2956700
24     5955802
25      982854
26     1813061
27     2673396
28     1315911
29     8753064
30     2037136
31    19302448
32     9418736
33      666783
34    11525536
35     3714520
36     3801991
37    12660739
38     1053959
39     4575864
40      807697
41     6297991
42    24774187
43     2715379
44      624958
45     7926192
46     6652845
47     1846372
48     5664893
49      554697

In [43]:
def filtered_table(table):
    table=table[['Median Household Income',
                 'Per Capita Income',
                 'Poverty Rate',
                 'Unemployment Rate',
                 'Median Cost of Rent',
                 'Black Poverty Rate',
                 'Hispanic Poverty Rate',
                 'White Poverty Rate']]
    
    table=pd.DataFrame(table)
    return(table)

In [44]:
table_2011=filtered_table(stats_2011)
table_2012=filtered_table(stats_2012)
table_2013=filtered_table(stats_2013)
table_2014=filtered_table(stats_2014)
table_2015=filtered_table(stats_2015)
table_2016=filtered_table(stats_2016)
table_2017=filtered_table(stats_2017)

In [45]:
def index_clean(table):
 
    table=table.drop(table.index[[8,51]])
    table=table.reset_index(drop=True)
    table=pd.DataFrame(table)
    return(table)

In [46]:
clean_table_2011=index_clean(table_2011)
clean_table_2012=index_clean(table_2012)
clean_table_2013=index_clean(table_2013)
clean_table_2014=index_clean(table_2014)
clean_table_2015=index_clean(table_2015)
clean_table_2016=index_clean(table_2016)
clean_table_2017=index_clean(table_2017)

In [47]:
def add_year(table,year):
    
    table['date']=year
    return(table)

In [48]:
new_table_2011=add_year(clean_table_2011,'2011')
new_table_2012=add_year(clean_table_2012,'2012')
new_table_2013=add_year(clean_table_2012,'2013')
new_table_2014=add_year(clean_table_2012,'2014')
new_table_2015=add_year(clean_table_2012,'2015')
new_table_2016=add_year(clean_table_2012,'2016')
new_table_2017=add_year(clean_table_2012,'2017')

In [49]:
states=pd.read_sql('select state,leg_control from data_2011',conn)

In [76]:
graph_data_2011=pd.concat([states,clean_table_2011],axis=1)
graph_data_2012=pd.concat([states,clean_table_2012],axis=1)
graph_data_2013=pd.concat([states,clean_table_2013],axis=1)
graph_data_2014=pd.concat([states,clean_table_2014],axis=1)
graph_data_2015=pd.concat([states,clean_table_2015],axis=1)
graph_data_2016=pd.concat([states,clean_table_2016],axis=1)
graph_data_2017=pd.concat([states,clean_table_2017],axis=1)

In [51]:
def groupby(table):
    table=table.groupby(table['leg_control']).mean()
    return(table)

In [52]:
final_2011=groupby(graph_data_2011)
final_2012=groupby(graph_data_2012)
final_2013=groupby(graph_data_2013)
final_2014=groupby(graph_data_2014)
final_2015=groupby(graph_data_2015)
final_2016=groupby(graph_data_2016)
final_2017=groupby(graph_data_2017)

In [53]:
final_2011['date']='2011'
final_2012['date']='2012'
final_2013['date']='2013'
final_2014['date']='2014'
final_2015['date']='2015'
final_2016['date']='2016'
final_2017['date']='2017'

In [54]:
complete_data=pd.concat([final_2011,final_2012,final_2013,final_2014,final_2015,final_2016,final_2017],axis=0)
complete_data=complete_data.sort_values(['leg_control','date'],ascending=True)

In [59]:
complete_data.head()

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date
leg_control,,,,,,,,,
Dem,56897.0000,29127.9375,12.980509,4.279980,933.875,22.263483,21.933200,10.548607,2011
Dem,57193.9375,29295.5625,13.475726,4.593508,952.625,22.930985,22.511976,11.010529,2012
Dem,57208.7500,29427.3125,13.907493,4.815706,966.875,23.298782,23.218493,11.389796,2013
Dem,57605.2500,29775.1250,14.178430,4.603274,982.375,23.363215,23.334823,11.642098,2014
Dem,57977.5625,30062.3125,14.116415,4.185336,989.875,23.111213,23.147920,11.612282,2015

In [73]:
def finalized_data(table1,table2):
    table1=pd.concat([table1,table2],axis=1)
    return(table1)

In [249]:
finalized_2011=finalized_data(graph_data_2011,pop_2011)
finalized_2012=finalized_data(graph_data_2012,pop_2012)
finalized_2013=finalized_data(graph_data_2013,pop_2013)
finalized_2014=finalized_data(graph_data_2014,pop_2014)
finalized_2015=finalized_data(graph_data_2015,pop_2015)
finalized_2016=finalized_data(graph_data_2016,pop_2016)
finalized_2017=finalized_data(graph_data_2017,pop_2017)

In [133]:
finalized_2011['Population'].min()

554697

In [95]:
finalized_2011.groupby(finalized_2011['leg_control']).mean()
a=finalized_2011.sort_values(['leg_control','date'],ascending=True)

In [97]:
a.head

,state,leg_control,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date,Population
3,Arkansas,Dem,40149.0,21833.0,17.846507,3.940015,637.0,32.409194,30.347053,14.371255,2011,2895928
4,California,Dem,61632.0,29634.0,14.096818,5.055211,1185.0,20.357537,20.387118,12.450239,2011,36969200
6,Connecticut,Dem,69243.0,37627.0,9.183676,4.598822,1020.0,19.450424,23.930368,6.580507,2011,3558172
7,Delaware,Dem,59317.0,29659.0,10.866515,3.954736,975.0,18.403450,22.287595,8.245192,2011,890856
10,Hawaii,Dem,67116.0,29203.0,9.980068,3.213685,1313.0,9.677270,15.008525,10.084606,2011,1346554

In [182]:
finalized_2011.loc[finalized_2011['leg_control']=='Rep'].head()

,state,leg_control,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date,Population
0,Alabama,Rep,42934.0,23483.0,17.133186,4.540210,674.0,29.463344,30.578194,12.177266,2011,4747424
2,Arizona,Rep,50752.0,25784.0,15.835820,4.234610,881.0,21.488774,25.156366,13.824388,2011,6337373
8,Florida,Rep,47827.0,26733.0,14.336939,5.072978,981.0,24.545293,19.171555,11.894364,2011,18688787
9,Georgia,Rep,49736.0,25383.0,16.055872,4.888397,835.0,23.780543,29.242134,11.379578,2011,9600612
11,Idaho,Rep,46890.0,22788.0,13.982956,3.862678,709.0,23.200725,27.223600,13.205093,2011,1549987

In [403]:
def divided_pop(table,party,year):
    table=table.loc[table['leg_control']==f'{party}']
    table["Population"]=table["Population"].astype(float)
    min_value=table["Population"].min()
    table['Population']=table['Population']/min_value
    
    table['Median Household Income']=table['Median Household Income']*table['Population']
    table['Per Capita Income']=table['Per Capita Income']*table['Population']
    table['Poverty Rate']=table['Poverty Rate']*table['Population']
    table['Unemployment Rate']=table['Unemployment Rate']*table['Population']
    table['Median Cost of Rent']=table['Median Cost of Rent']*table['Population']
    table['Black Poverty Rate']=table['Black Poverty Rate']*table['Population']
    table['Hispanic Poverty Rate']=table['Hispanic Poverty Rate']*table['Population']
    table['White Poverty Rate']=table['White Poverty Rate']*table['Population']
    
    avg_hou_income=table['Median Household Income'].sum()/table['Population'].sum()
    avg_per_cap_income=table['Per Capita Income'].sum()/table['Population'].sum()
    avg_poverty_rate=table['Poverty Rate'].sum()/table['Population'].sum()
    avg_unem_rate=table['Unemployment Rate'].sum()/table['Population'].sum()
    avg_rent=table['Median Cost of Rent'].sum()/table['Population'].sum()
    avg_black=table['Black Poverty Rate'].sum()/table['Population'].sum()
    avg_Hispanic=table['Hispanic Poverty Rate'].sum()/table['Population'].sum()
    avg_white=table['White Poverty Rate'].sum()/table['Population'].sum()
    
    
    list_ahi=[]
    list_apc=[]
    list_apr=[]
    list_aur=[]
    list_ar=[]
    list_ab=[]
    list_ah=[]
    list_aw=[]
    
    list_ahi.append(avg_hou_income)
    list_apc.append(avg_per_cap_income)
    list_apr.append(avg_poverty_rate)
    list_aur.append(avg_unem_rate)
    list_ar.append(avg_rent)
    list_ab.append(avg_black)
    list_ah.append(avg_Hispanic)
    list_aw.append(avg_white)
    
    
    
    list_ahi=pd.DataFrame(list_ahi)
    list_apc=pd.DataFrame(list_apc)
    list_apr=pd.DataFrame(list_apr)
    list_aur=pd.DataFrame(list_aur)
    list_ar=pd.DataFrame(list_ar)
    list_ab=pd.DataFrame(list_ab)
    list_ah=pd.DataFrame(list_ah)
    list_aw=pd.DataFrame(list_aw)
    
    list_ahi['Median Household Income']=list_ahi
    list_apc['Per Capita Income']=list_apc
    list_apr['Poverty Rate']=list_apr
    list_aur['Unemployment Rate']=list_aur
    list_ar['Median Cost of Rent']=list_ar
    list_ab['Black Poverty Rate']=list_ab
    list_ah['Hispanic Poverty Rate']=list_ah
    list_aw['White Poverty Rate']=list_aw
    
    
    da_table=pd.concat([list_ahi,list_apc,list_apr,list_aur,list_ar,list_ab,list_ah,list_aw],axis=1)
    da_table['year']=year
    da_table=da_table.drop(0,axis=1)
    return(da_table)

In [421]:
r_2011=divided_pop(finalized_2011,"Rep",'2011')
r_2012=divided_pop(finalized_2012,"Rep",'2012')
r_2013=divided_pop(finalized_2013,"Rep",'2013')
r_2014=divided_pop(finalized_2014,"Rep",'2014')
r_2015=divided_pop(finalized_2015,"Rep",'2015')
r_2016=divided_pop(finalized_2016,"Rep",'2016')
r_2017=divided_pop(finalized_2017,"Rep",'2017')

final_rep_data=pd.concat([r_2011,r_2012,r_2013,r_2014,r_2015,r_2016,r_2017],axis=0).reset_index(drop=True)

/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [422]:
final_rep_data

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,year
0,49243.196769,25845.357703,14.640156,4.366769,783.435242,26.563963,26.087338,11.929389,2011
1,49419.621757,25956.480150,15.223393,4.639074,799.613569,27.242375,26.981436,12.493531,2012
2,49471.731067,26040.361796,15.699211,4.800033,812.995082,27.833181,27.528449,12.924150,2013
3,49965.043172,26435.440592,15.866685,4.477745,827.309047,27.837226,27.405122,13.108076,2014
4,50437.484412,26821.655290,15.684799,3.993558,834.444771,27.433237,26.782739,12.993800,2015
5,51805.004090,27657.904011,15.269053,3.543689,855.623967,26.530207,25.668182,12.692496,2016
6,56026.226259,30271.146815,15.126538,3.339105,960.330527,24.648646,23.080299,12.575514,2017

In [423]:
d_2011=divided_pop(finalized_2011,'Dem','2011')
d_2012=divided_pop(finalized_2012,'Dem','2012')
d_2013=divided_pop(finalized_2013,'Dem','2013')
d_2014=divided_pop(finalized_2014,'Dem','2014')
d_2015=divided_pop(finalized_2015,'Dem','2015')
d_2016=divided_pop(finalized_2016,'Dem','2016')
d_2017=divided_pop(finalized_2017,'Dem','2017')


final_dem_data=pd.concat([d_2011,d_2012,d_2013,d_2014,d_2015,d_2016,d_2017],axis=0).reset_index(drop=True)

/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [424]:
final_dem_data

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,year
0,60507.183428,30367.335731,12.921154,4.671740,1037.514847,21.618773,21.067199,10.567232,2011
1,60639.445926,30455.905865,13.552287,5.046748,1059.301706,22.481017,21.980018,11.163268,2012
2,60559.919775,30529.848684,14.071886,5.289456,1074.697150,23.291164,22.642306,11.650763,2013
3,61018.623502,30912.087298,14.390829,5.046971,1092.212240,23.750432,22.849539,11.963535,2014
4,61381.048639,31271.868059,14.326204,4.566307,1101.995452,23.591481,22.493928,11.985957,2015
5,63099.380821,32288.995934,14.011061,4.075430,1132.206602,23.068088,21.658535,11.762862,2016
6,61314.906792,32443.427205,13.099524,3.200943,998.211158,23.351310,22.968034,10.470184,2017

In [427]:
s_2011=divided_pop(finalized_2011,'Split','2011')
s_2012=divided_pop(finalized_2012,'Split','2012')
s_2013=divided_pop(finalized_2013,'Split','2013')
s_2014=divided_pop(finalized_2014,'Split','2014')
s_2015=divided_pop(finalized_2015,'Split','2015')
s_2016=divided_pop(finalized_2016,'Split','2016')
s_2017=divided_pop(finalized_2017,'Split','2017')

final_split_data=pd.concat([s_2011,s_2012,s_2013,s_2014,s_2015,s_2016,s_2017],axis=0).reset_index(drop=True)

/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/alejandrollamas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [428]:
final_split_data

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,year
0,54778.670078,29622.299213,13.741781,3.996209,909.044499,23.799617,22.673501,10.740856,2011
1,55344.126177,29915.797406,14.148058,4.264089,939.105898,24.534478,23.162327,11.098512,2012
2,55670.318190,30140.955711,14.500791,4.462904,962.305335,24.878624,23.440304,11.372581,2013
3,56331.162827,30583.557803,14.737163,4.260071,985.822467,25.225239,23.530559,11.543867,2014
4,56865.394760,30947.329130,14.720035,3.900685,999.177522,24.802811,23.327554,11.563187,2015
5,58258.824692,31844.301777,14.482967,3.536923,1025.264659,24.257004,22.687284,11.407400,2016
6,60318.363397,30646.811795,15.225804,3.517315,1125.729890,23.969947,22.498354,13.456802,2017

In [169]:
good_2011['Median Household Income']=good_2011['Median Household Income']*good_2011['Population']

In [170]:
good_2011

,state,leg_control,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date,Population
0,Alabama,Rep,2.691584e+07,23483.0,17.133186,4.540210,674.0,29.463344,30.578194,12.177266,2011,8.558590
1,Alaska,Split,1.391143e+05,31944.0,9.292239,4.414424,1017.0,10.005976,10.009691,6.485448,2011,1.263218
2,Arizona,Rep,7.568565e+07,25784.0,15.835820,4.234610,881.0,21.488774,25.156366,13.824388,2011,11.424927
3,Arkansas,Dem,5.713083e+06,21833.0,17.846507,3.940015,637.0,32.409194,30.347053,14.371255,2011,5.220739
4,California,Dem,1.824563e+10,29634.0,14.096818,5.055211,1185.0,20.357537,20.387118,12.450239,2011,66.647557
5,Colorado,Split,4.139345e+07,30816.0,12.237606,4.093365,883.0,22.856267,23.753170,10.795854,2011,8.952745
6,Connecticut,Dem,1.827634e+07,37627.0,9.183676,4.598822,1020.0,19.450424,23.930368,6.580507,2011,6.414623
7,Delaware,Dem,2.457165e+05,29659.0,10.866515,3.954736,975.0,18.403450,22.287595,8.245192,2011,1.606023
8,Florida,Rep,1.829149e+09,26733.0,14.336939,5.072978,981.0,24.545293,19.171555,11.894364,2011,33.691884
9,Georgia,Rep,2.578696e+08,25383.0,16.055872,4.888397,835.0,23.780543,29.242134,11.379578,2011,17.307849
10,Hawaii,Dem,9.601298e+05,29203.0,9.980068,3.213685,1313.0,9.677270,15.008525,10.084606,2011,2.427549
11,Idaho,Rep,1.023050e+06,22788.0,13.982956,3.862678,709.0,23.200725,27.223600,13.205093,2011,2.794295
12,Illinois,Dem,6.935774e+08,29376.0,12.825681,4.868789,860.0,27.412336,18.922148,9.231331,2011,23.057961
13,Indiana,Rep,7.623480e+07,24497.0,13.714211,4.558916,704.0,27.866890,26.706596,11.505477,2011,11.635639
14,Iowa,Split,8.241461e+06,26110.0,11.461264,2.986908,637.0,34.595282,24.965663,10.156634,2011,5.466527
15,Kansas,Rep,6.725805e+06,26545.0,12.263717,3.372996,699.0,24.438407,23.986523,10.572582,2011,5.103660
16,Kentucky,Split,1.990193e+07,23033.0,17.537998,4.228575,623.0,29.893829,30.246483,16.085497,2011,7.780897
17,Louisiana,Split,2.329717e+07,23853.0,17.854563,3.836243,745.0,30.569652,19.151253,11.229381,2011,8.084767
18,Maine,Rep,6.580771e+05,26195.0,12.430610,3.783543,736.0,42.528078,27.584214,11.737913,2011,2.395079
19,Maryland,Dem,8.010070e+07,35751.0,8.761545,3.967545,1139.0,13.375245,12.417978,6.168381,2011,10.341763
20,Massachusetts,Dem,1.067677e+08,35051.0,10.341577,4.414404,1037.0,20.151560,28.921838,8.012176,2011,11.740152
21,Michigan,Rep,2.784207e+08,25482.0,15.306078,6.063280,742.0,31.745106,27.090591,11.887468,2011,17.884757
22,Minnesota,Rep,5.038082e+07,30310.0,10.707345,3.820419,783.0,33.378155,24.019164,8.357088,2011,9.515447
23,Mississippi,Dem,5.863639e+06,20521.0,20.895086,4.560084,680.0,34.262230,26.067754,12.492456,2011,5.330297
24,Missouri,Rep,5.842702e+07,25371.0,13.912736,4.110479,693.0,26.441453,24.276878,11.740564,2011,10.737037
25,Montana,Rep,2.521319e+05,24640.0,14.234464,3.321551,649.0,31.001590,23.646362,12.391017,2011,1.771875
26,Nebraska,None,1.770251e+06,26113.0,11.679254,2.981422,672.0,30.381570,23.543090,9.851368,2011,3.268561
27,Nevada,Dem,6.219134e+06,27625.0,12.751684,5.434773,1011.0,20.663370,19.527903,11.624687,2011,4.819561
28,New-Hampshire,Rep,8.633257e+05,32357.0,7.723471,3.546440,956.0,21.515152,16.599912,7.322256,2011,2.372306
29,New-Jersey,Dem,2.796861e+08,35678.0,9.198722,4.601257,1131.0,17.515536,17.773240,6.680435,2011,15.779901
30,New-Mexico,Dem,2.210697e+06,23537.0,18.570238,3.873134,713.0,20.763351,23.627717,16.123259,2011,3.672520
31,New-York,Split,2.399778e+09,31796.0,14.102393,4.162353,1025.0,21.333990,24.375117,10.263701,2011,34.798184
32,North-Carolina,Rep,2.266246e+08,25256.0,15.644944,4.838675,744.0,25.020385,30.753609,11.535086,2011,16.979966
33,North-Dakota,Rep,8.583114e+04,27305.0,11.831135,1.915466,584.0,28.184207,20.461771,9.708104,2011,1.202067
34,Ohio,Rep,4.312202e+08,25618.0,14.352417,4.736335,697.0,30.745146,27.641370,11.522803,2011,20.778075
35,Oklahoma,Rep,1.329894e+07,23770.0,15.777166,3.146194,659.0,27.547448,27.545306,13.129533,2011,6.696485
36,Oregon,Split,1.605207e+07,26561.0,14.475889,5.030943,830.0,28.856283,25.933939,13.133454,2011,6.854176
37,Pennsylvania,Rep,6.141698e+08,27824.0,12.233638,4.017570,770.0,26.568582,30.308725,9.490021,2011,22.824603
38,Rhode-Island,Dem,3.839704e+05,29685.0,12.282641,4.787757,901.0,24.528573,29.014364,9.346874,2011,1.900063
39,South-Carolina,Rep,2.502996e+07,23854.0,16.471316,4.965488,728.0,27.517367,28.693777,11.483008,2011,8.249304
40,South-Dakota,Rep,1.482210e+05,24925.0,13.289266,2.594785,595.0,29.752862,21.505177,9.563843,2011,1.456105
41,Tennessee,Rep,6.438471e+07,24197.0,16.452850,4.558549,707.0,27.691058,31.431243,13.674486,2011,11.353930
42,Texas,Rep,4.536482e+09,25548.0,16.630620,3.594217,814.0,22.501087,25.397646,14.917611,2011,44.662558
43,Utah,Rep,6.778350e+06,23650.0,11.200094,3.220655,813.0,22.191630,22.002012,10.059827,2011,4.895247
44,Vermont,Dem,7.640208e+04,28376.0,10.842489,3.542798,843.0,27.159590,17.119881,10.395719,2011,1.126666
45,Virginia,Split,1.846902e+08,33040.0,10.325538,3.347522,1024.0,17.910050,14.400991,8.133711,2011,14.289228
46,Washington,Dem,1.016006e+08,30481.0,12.273080,4.299845,923.0,23.374110,25.588628,10.574663,2011,11.993656
47,West-Virginia,Dem,1.458601e+06,22010.0,16.971824,3.366819,574.0,26.711953,19.989094,16.395934,2011,3.328614
48,Wisconsin,Rep,5.578577e+07,27192.0,11.679921,3.881185,735.0,34.032670,23.143493,9.359382,2011,10.212590
49,Wyoming,Rep,5.638000e+04,28952.0,9.897295,2.555089,708.0,22.673474,15.942748,9.189971,2011,1.000000

In [134]:
finalized_2011['Population']=finalized_2011['Population'].astype(float)
finalized_2011['Population']=finalized_2011['Population']/554697
finalized_2011

,state,leg_control,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date,Population
0,Alabama,Rep,42934.0,23483.0,17.133186,4.540210,674.0,29.463344,30.578194,12.177266,2011,8.558590
1,Alaska,Split,69014.0,31944.0,9.292239,4.414424,1017.0,10.005976,10.009691,6.485448,2011,1.263218
2,Arizona,Rep,50752.0,25784.0,15.835820,4.234610,881.0,21.488774,25.156366,13.824388,2011,11.424927
3,Arkansas,Dem,40149.0,21833.0,17.846507,3.940015,637.0,32.409194,30.347053,14.371255,2011,5.220739
4,California,Dem,61632.0,29634.0,14.096818,5.055211,1185.0,20.357537,20.387118,12.450239,2011,66.647557
5,Colorado,Split,57685.0,30816.0,12.237606,4.093365,883.0,22.856267,23.753170,10.795854,2011,8.952745
6,Connecticut,Dem,69243.0,37627.0,9.183676,4.598822,1020.0,19.450424,23.930368,6.580507,2011,6.414623
7,Delaware,Dem,59317.0,29659.0,10.866515,3.954736,975.0,18.403450,22.287595,8.245192,2011,1.606023
8,Florida,Rep,47827.0,26733.0,14.336939,5.072978,981.0,24.545293,19.171555,11.894364,2011,33.691884
9,Georgia,Rep,49736.0,25383.0,16.055872,4.888397,835.0,23.780543,29.242134,11.379578,2011,17.307849
10,Hawaii,Dem,67116.0,29203.0,9.980068,3.213685,1313.0,9.677270,15.008525,10.084606,2011,2.427549
11,Idaho,Rep,46890.0,22788.0,13.982956,3.862678,709.0,23.200725,27.223600,13.205093,2011,2.794295
12,Illinois,Dem,56576.0,29376.0,12.825681,4.868789,860.0,27.412336,18.922148,9.231331,2011,23.057961
13,Indiana,Rep,48393.0,24497.0,13.714211,4.558916,704.0,27.866890,26.706596,11.505477,2011,11.635639
14,Iowa,Split,50451.0,26110.0,11.461264,2.986908,637.0,34.595282,24.965663,10.156634,2011,5.466527
15,Kansas,Rep,50594.0,26545.0,12.263717,3.372996,699.0,24.438407,23.986523,10.572582,2011,5.103660
16,Kentucky,Split,42248.0,23033.0,17.537998,4.228575,623.0,29.893829,30.246483,16.085497,2011,7.780897
17,Louisiana,Split,44086.0,23853.0,17.854563,3.836243,745.0,30.569652,19.151253,11.229381,2011,8.084767
18,Maine,Rep,47898.0,26195.0,12.430610,3.783543,736.0,42.528078,27.584214,11.737913,2011,2.395079
19,Maryland,Dem,72419.0,35751.0,8.761545,3.967545,1139.0,13.375245,12.417978,6.168381,2011,10.341763
20,Massachusetts,Dem,65981.0,35051.0,10.341577,4.414404,1037.0,20.151560,28.921838,8.012176,2011,11.740152
21,Michigan,Rep,48669.0,25482.0,15.306078,6.063280,742.0,31.745106,27.090591,11.887468,2011,17.884757
22,Minnesota,Rep,58476.0,30310.0,10.707345,3.820419,783.0,33.378155,24.019164,8.357088,2011,9.515447
23,Mississippi,Dem,38718.0,20521.0,20.895086,4.560084,680.0,34.262230,26.067754,12.492456,2011,5.330297
24,Missouri,Rep,47202.0,25371.0,13.912736,4.110479,693.0,26.441453,24.276878,11.740564,2011,10.737037
25,Montana,Rep,45324.0,24640.0,14.234464,3.321551,649.0,31.001590,23.646362,12.391017,2011,1.771875
26,Nebraska,None,50695.0,26113.0,11.679254,2.981422,672.0,30.381570,23.543090,9.851368,2011,3.268561
27,Nevada,Dem,55553.0,27625.0,12.751684,5.434773,1011.0,20.663370,19.527903,11.624687,2011,4.819561
28,New-Hampshire,Rep,64664.0,32357.0,7.723471,3.546440,956.0,21.515152,16.599912,7.322256,2011,2.372306
29,New-Jersey,Dem,71180.0,35678.0,9.198722,4.601257,1131.0,17.515536,17.773240,6.680435,2011,15.779901
30,New-Mexico,Dem,44631.0,23537.0,18.570238,3.873134,713.0,20.763351,23.627717,16.123259,2011,3.672520
31,New-York,Split,56951.0,31796.0,14.102393,4.162353,1025.0,21.333990,24.375117,10.263701,2011,34.798184
32,North-Carolina,Rep,46291.0,25256.0,15.644944,4.838675,744.0,25.020385,30.753609,11.535086,2011,16.979966
33,North-Dakota,Rep,49415.0,27305.0,11.831135,1.915466,584.0,28.184207,20.461771,9.708104,2011,1.202067
34,Ohio,Rep,48071.0,25618.0,14.352417,4.736335,697.0,30.745146,27.641370,11.522803,2011,20.778075
35,Oklahoma,Rep,44287.0,23770.0,15.777166,3.146194,659.0,27.547448,27.545306,13.129533,2011,6.696485
36,Oregon,Split,49850.0,26561.0,14.475889,5.030943,830.0,28.856283,25.933939,13.133454,2011,6.854176
37,Pennsylvania,Rep,51651.0,27824.0,12.233638,4.017570,770.0,26.568582,30.308725,9.490021,2011,22.824603
38,Rhode-Island,Dem,55975.0,29685.0,12.282641,4.787757,901.0,24.528573,29.014364,9.346874,2011,1.900063
39,South-Carolina,Rep,44587.0,23854.0,16.471316,4.965488,728.0,27.517367,28.693777,11.483008,2011,8.249304
40,South-Dakota,Rep,48010.0,24925.0,13.289266,2.594785,595.0,29.752862,21.505177,9.563843,2011,1.456105
41,Tennessee,Rep,43989.0,24197.0,16.452850,4.558549,707.0,27.691058,31.431243,13.674486,2011,11.353930
42,Texas,Rep,50920.0,25548.0,16.630620,3.594217,814.0,22.501087,25.397646,14.917611,2011,44.662558
43,Utah,Rep,57783.0,23650.0,11.200094,3.220655,813.0,22.191630,22.002012,10.059827,2011,4.895247
44,Vermont,Dem,53422.0,28376.0,10.842489,3.542798,843.0,27.159590,17.119881,10.395719,2011,1.126666
45,Virginia,Split,63302.0,33040.0,10.325538,3.347522,1024.0,17.910050,14.400991,8.133711,2011,14.289228
46,Washington,Dem,58890.0,30481.0,12.273080,4.299845,923.0,23.374110,25.588628,10.574663,2011,11.993656
47,West-Virginia,Dem,39550.0,22010.0,16.971824,3.366819,574.0,26.711953,19.989094,16.395934,2011,3.328614
48,Wisconsin,Rep,52374.0,27192.0,11.679921,3.881185,735.0,34.032670,23.143493,9.359382,2011,10.212590
49,Wyoming,Rep,56380.0,28952.0,9.897295,2.555089,708.0,22.673474,15.942748,9.189971,2011,1.000000

In [123]:
dem_data.head()

NameError: name 'dem_data' is not defined

In [57]:
rep_data.head()

NameError: name 'rep_data' is not defined

In [58]:
split_data.head()

NameError: name 'split_data' is not defined

In [ ]:
##Code pushes to postgres(dont rerun)



################################

#def to_sql(table,table_name):
#   table.to_sql(name=table_name,con=engine, if_exists='append', index=False)

# to_sql(graph_data_2011,'graph_data_2011')
# to_sql(graph_data_2012,'graph_data_2012')
# to_sql(graph_data_2013,'graph_data_2013')
# to_sql(graph_data_2014,'graph_data_2014')
# to_sql(graph_data_2015,'graph_data_2015')
# to_sql(graph_data_2016,'graph_data_2016')
# to_sql(graph_data_2017,'graph_data_2017')

#################################



#################################

# complete_data.to_sql(name='complete_data',con=engine, if_exists='append', index=True)
# dem_data.to_sql(name='democratic_data',con=engine, if_exists='append', index=True)
# rep_data.to_sql(name='republican_data',con=engine, if_exists='append', index=True)
# split_data.to_sql(name='split_data',con=engine, if_exists='append', index=True)

#################################

In [429]:
def to_sql(table,table_name):
    table.to_sql(name=table_name,con=engine, if_exists='append', index=False)

In [430]:
to_sql(final_dem_data,'finalized_dem')
to_sql(final_rep_data,'finalized_rep')
to_sql(final_split_data,'finalized_split')